<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FHImagePickSheet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0E4CD7B1D9EA95D00261BF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E4CD941D9EA95D00261BF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E4CD9F1D9EA95D00261BF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
